# Database (local PostgreSQL 17)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=db_name
DB_USERNAME=db_username
DB_PASSWORD=your_password_here

# JWT Config
JWT_SECRET=secret_key
JWT_EXPIRATION_MS=expiration_time

# Server Port
SERVER_PORT=8080

# Admin Seed configuration
ADMIN_EMAIL=email
ADMIN_PASSWORD=password
